<p id="notice"><%= notice %></p>

<h1>Services</h1>

<table>
  <thead>
    <tr>
      <th>Starting lat</th>
      <th>Starting lon</th>
      <th>Present lat</th>
      <th>Present lon</th>
      <th>Ending lat</th>
      <th>Ending lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.starting_lat %></td>
        <td><%= service.starting_lon %></td>
        <td><%= service.present_lat %></td>
        <td><%= service.present_lon %></td>
        <td><%= service.ending_lat %></td>
        <td><%= service.ending_lon %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
