<p id="notice"><%= notice %></p>

<p>
  <strong>Starting lat:</strong>
  <%= @service.starting_lat %>
</p>

<p>
  <strong>Starting lon:</strong>
  <%= @service.starting_lon %>
</p>

<p>
  <strong>Present lat:</strong>
  <%= @service.present_lat %>
</p>

<p>
  <strong>Present lon:</strong>
  <%= @service.present_lon %>
</p>

<p>
  <strong>Ending lat:</strong>
  <%= @service.ending_lat %>
</p>

<p>
  <strong>Ending lon:</strong>
  <%= @service.ending_lon %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
